<template id="dialog-template-children">
  <style>
  dialog[is=dialog-template-children] data-table tbody td:first-child{
    background-color: #f8f9fa;
    border-color: #c6c7c8;
    border-width: 1px;
  }
  </style>
  <form id="formChildren" class="card" method="dialog">
    <div class="card-header">
      <button type="button" class="btn btn-close btn-outline-danger float-end" data-target="close"></button>
      <div class="card-title"><i class="bi bi-pencil-square" style="font-size: 150%;"></i> Plantillas permitidas</div>
    </div>
    <div class="card-body">
      <div class="input-group">
        <label for="idTemplate" class="input-group-text" style="min-width: 75px;">Plantilla hija</label>
        <select class="form-select" id="idTemplate">
          <option value="" selected>Selecione una Plantilla</option>
        </select>
        <label for="maxAllowed" class="input-group-text">Maximo Permitido</label>
        <input type="numbre" min="1" max="250" class="form-control" id="maxAllowed" value="1"
          style="max-width: 80px;" />
        <button class="btn btn-primary bi bi-plus" id="add" type="button"></button>
      </div>
      <div class="mt-3 overflow-y-auto" style="min-height: 180px;">
        <data-table data-class="table table-white table-bordered mt-2" style="width: 98%;">
          <template>
            <div slot="action" class="text-end">
              <!--
                <button type="button" title="Move Up" 
                class="btn btn-outline-primary rounded-pill bi bi-arrow-up btn-sm"
                data-action="moveUp" data-value="${index}">
                </button>
              -->
              <button type="button" title="Delete Option"
                class="btn btn-outline-primary rounded-pill bi bi-trash btn-sm"
                data-action="delete"data-value="${index}">
              </button>
            </div>
          </template>
        </data-table>
      </div>
    </div>
    <div class="card-footer text-end">
      <button class="btn btn-success me-2" id="save" type="submit"> Guardar</button>
      <button class="btn btn-secondary" data-target="close" id="cancel" type="reset"> Cancelar</button>
    </div>
  </form>
</template>
<script type="module">
  import * as Enum from './Enum.js';
  import API from './utils/API.js';
  export default class DialogChildren extends HTMLDialogElement {
    #info = {};
    templates = [];
    header=[
      {text:"#",style:{width: "1%"}},
      {text:"Plantilla",value:"idTemplate"},
      {text:"Maximo",value:"maxAllowed",style:{width: "10%"}},
      {text:"",value:"index",slot:"action",style:{width: "20%"}}
    ]
    constructor() {
      super();
    }

    async connectedCallback() {
      const clone = document.querySelector('#dialog-template-children').content.cloneNode(true);
      this.appendChild(clone);

      this.dataTable = this.querySelector("data-Table");
      this.dataTable.setAttribute("header",JSON.stringify(this.header));

      const onCancel = this.eventCancel.bind(this);
      const onSave = this.eventSave.bind(this);
      const onAdd = this.eventAdd.bind(this);

      this.querySelectorAll('[data-target="close"]').forEach(btn => 
        btn.addEventListener("click", onCancel)
      );
      this.querySelector("#save").addEventListener("click", onSave);
      this.querySelector("#add").addEventListener("click", onAdd);
    }
    async openDialog(info) {
      this.showModal();
      this.#loadTemplates();
      if (info.idTemplate) {
        this.#info = info;
      } else {
        throw new Error("Error esta modal no ha recibido datos")
      }
      this.#renderTable( this.#info.data);
    }

    eventSave(event) {
      this.querySelector('form').reset()
      this.close(JSON.stringify(this.#info));
    }
    eventCancel(event) {
      this.querySelector('form').reset()
      this.close("");
    }

    eventAdd(event) {
      let idTemplate = this.#info.idTemplate || null;
      let count = this.#info.data.length;
      count = count == 0 ? 0 : count - 1
      let item = {
        "idTemplateParent": idTemplate,
        "idTemplate": this.querySelector("#idTemplate").value,
        "maxAllowed": parseInt(this.querySelector("#maxAllowed").value??0),
        "status": Enum.status.Inserted
      }
      this.#info.data.push(item);
      this.querySelector('form').reset();
      this.#renderTable( this.#info.data);
    }

    eventClickBtn(event) {
      debugger
      const { tagName, dataset } = event.target
      if (tagName === "BUTTON") {
        if (dataset.action == "delete") {
          this.eventDelete(event)
        }
        if (dataset.action == "moveUp") {
          this.eventMove(event, -1)
        }
      }
    }
    eventDelete(event) {
      const index = parseInt(event.target.dataset.value);
      this.#info.data[index].status = Enum.status.Deleted;
      this.#renderTable(this.#info.data);
    }
    eventMove(event, move) {
      const index = parseInt(event.target.dataset.value);
      this.#info.data[index + move].order = index;
      this.#info.data[index].order = index + move;
      this.#info.data[index].status = this.#info.data[index].status || Enum.status.Updated;
      this.#info.data[index + move].status = this.#info.data[index + move].status || Enum.status.Updated;
      this.#info.data = this.#info.data.sort((a, b) => a.order - b.order);
      this.#renderTable( this.#info.data);
    }
    /***************************/
    #loadTemplates(value = null) {
      const cbTemplate = this.querySelector("#idTemplate");
      cbTemplate.querySelectorAll("[value]").forEach(item => item.value != '' && cbTemplate.removeChild(item));
      this.templates.forEach(item => {
        let optionItem = document.createElement("OPTION")
        optionItem.value = item.idTemplate
        optionItem.textContent = item.name
        if (value && value === item.idTemplate) {
          optionItem.selected = true;
        }
        cbTemplate.appendChild(optionItem);
      })
    }
    #renderTable( list) {
      const listTable = list.map((item,index)=>{
        const element ={...item};
        element.idTemplate =  this.templates.filter(f=>f.idTemplate==item.idTemplate)[0]?.name;
        element.index= index;
        return element;
      })

      this.dataTable.setAttribute("items",JSON.stringify(listTable))
      const btnClick = this.eventClickBtn.bind(this);
      const textClass = ['', 'text-primary', 'text-danger', 'text-success'];
      this.dataTable.querySelectorAll("tbody tr").forEach((tr,index)=>{
        tr.addEventListener("click", btnClick);
        const status = list[index]?.status||Enum.status.None
        if (status > Enum.status.None) {
          tr.querySelectorAll("td").forEach(td => td.classList.add(textClass[status]))
        }
      })      
      this.dataTable.querySelector("thead").className="table-light text-center";
    }
  }
  window.customElements.define("dialog-template-children", DialogChildren, { extends: "dialog" });
</script>