<template id="dialog-option">
  <form id="formMaster" class="card" method="dialog">
    <div class="card-header">
      <button type="button" class="btn btn-close btn-outline-danger float-end" data-target="close"></button>
      <div class="card-title"><i class="bi" style="font-size: 150%;"></i> Opciones de Maestro</div>
    </div>
    <div class="card-body">
      <div class="input-group">
        <label for="name" class="input-group-text btn-secondary">Opcion</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre" />
        <input type="text" class="form-control" id="value" placeholder="Valor" />
        <button class="btn btn-success bi bi-plus" id="add" type="button"></button>
      </div>
      <div class="mt-3 overflow-y-auto" style="height: 380px;">
        <style>
          table#grid-option tr:first-child td button[data-action='moveUp'] {
            display: none;
          }

          .overflow-y-auto {
            overflow-y: auto;
          }
        </style>
        <table id="grid-option" class="table table-white table-bordered mt-2" style="width: 98%;">
          <thead class="table-light text-center">
            <tr>
              <th>Nombre</th>
              <th>Valor</th>
              <th style="width: 15%">Accion</th>
            </tr>
          </thead>
          <template id="row">
            <tr>
              <td data-property="name"></td>
              <td data-property="value"></td>
              <td class="text-end">
                <button type="button" title="Move Up" class="btn btn-outline-primary rounded-pill bi bi-arrow-up btn-sm"
                  data-action="moveUp">
                  <button type="button" title="Delete Option"
                    class="btn btn-outline-primary rounded-pill bi bi-trash btn-sm" data-action="delete">
                  </button>
              </td>
            </tr>
          </template>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-end">
      <button class="btn btn-success me-2" id="save" type="submit"> Guardar</button>
      <button class="btn btn-secondary" data-target="close" id="cancel" type="reset"> Cancelar</button>
    </div>
  </form>
</template>
<script type="module">
  import * as Enum from './Enum.js';

  export default class DialogMasterOption extends HTMLDialogElement {
    #info = {};
    constructor() {
      super();
    }

    async connectedCallback() {
      const clone = document.querySelector('#dialog-option').content.cloneNode(true);
      this.appendChild(clone);
      const onCancel = this.eventCancel.bind(this);
      const onSave = this.eventSave.bind(this);
      const onAdd = this.eventAdd.bind(this);

      this.querySelectorAll('[data-target="close"]').forEach(btn => {
        btn.addEventListener("click", onCancel);
      });
      this.querySelector("#save").addEventListener("click", onSave);
      this.querySelector("#add").addEventListener("click", onAdd);
    }

    async openDialog(info) {
      this.showModal();

      const icon = this.querySelector("div.card-title i.bi");
      if (info.idMaster) {
        this.#info = info;
        icon.classList.remove("bi-plus-circle");
        icon.classList.add("bi-pencil-square");
      } else {
        this.#info = this.#defaultMaster();
        icon.classList.remove("bi-pencil-square");
        icon.classList.add("bi-plus-circle");
      }
      this.#renderTable(this, this.#info.data);
    }

    eventSave(event) {
      this.close(JSON.stringify(this.#info));
    }
    eventCancel(event) {
      this.close("");
    }

    eventAdd(event) {
      let idMaster = this.#info.idMaster || null;
      let item = {
        "idMaster": idMaster,
        "idOption": null,
        "name": this.querySelector("#name").value,
        "value": this.querySelector("#value").value,
        "order": this.#info.data.length,
        "status": Enum.status.Inserted
      }
      this.#info.data.push(item);
      this.#renderTable(this, this.#info.data);
    }

    eventClickBtn(event) {
      const target = event.target;
      if (target.tagName === "BUTTON") {
        if (target.dataset.action == "delete") {
          this.eventDelete(event)
        }
        if (target.dataset.action == "moveUp") {
          this.eventMove(event, -1)
        }
      }
    }

    eventDelete(event) {
      const index = parseInt(event.target.parentNode.parentNode.dataset.value);
      this.#info.data[index].status = Enum.status.Deleted;
      this.#renderTable(this, this.#info.data);
    }

    eventMove(event, move) {

      const index = parseInt(event.target.parentNode.parentNode.dataset.value);
      this.#info.data[index + move].order = index;
      this.#info.data[index].order = index + move;
      this.#info.data[index].status = this.#info.data[index].status || Enum.status.Updated;
      this.#info.data[index + move].status = this.#info.data[index + move].status || Enum.status.Updated;
      this.#info.data = this.#info.data.sort((a, b) => a.order - b.order);
      this.#renderTable(this, this.#info.data);

    }

    #defaultMaster() {
      return { idMaster: null, data: [], Updated: false };
    }

    #renderTable(clone, list) {
      const inner = clone.querySelector('table.table.table-white');
      const tbody = inner.querySelector("tbody")
      tbody.innerHTML = '';
      const btnClick = this.eventClickBtn.bind(this);
      const textClass = ['', 'text-primary', 'text-danger', 'text-success'];

      list.forEach((item, index) => {
        item.index = index + 1
        const row = inner.querySelector("#row").content.cloneNode(true)
        const tds = row.querySelectorAll("td[data-property]");

        tds.forEach(td => {
          let text = item[td.dataset.property];
          if (td.dataset.function) {
            const fn = new Function(td.dataset.property, `return ${td.dataset.function}`)
            text = fn(text)
          }
          td.textContent = text||"";
        })
        let tr = row.querySelector("tr")
        tr.dataset.value = index;
        tr.addEventListener("click", btnClick);

        if (item.status > Enum.status.None) {
          tr.querySelectorAll("td").forEach(td=> td.classList.add(textClass[item.status]))
        }

        tbody.appendChild(row);
      })
    }
  }
  window.customElements.define("dialog-master-option", DialogMasterOption, { extends: "dialog" });
</script>